*.log
logs/
application-local.*
application-secret.*

.gradle
build/
*.class
*.jar
*.war
*.ear
hs_err_pid*
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea
*.iws
*.iml
*.ipr
out/

.metadata
.classpath
.project
.settings
bin/

.vscode/
.DS_Store
Thumbs.db
*~

*.db
*.mv.db
.env
.env.*
jacoco.exec
coverage/
docker-compose.override.yml
